  .cardBody{
      padding: 5%;
  }
  .card {
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: sticky;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: myAnim 1s ease normal both;
  }
  @keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-250px);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: translateX(-68px);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: translateX(-28px);
    }
  
    90% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: translateX(-8px);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  }
  
  .img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }
  
  .img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .content .detail h2 {
    color: #444;
    font-size: 1.6em;
    font-weight: bolder;
  }
  
  .content .detail h2 span {
    font-size: 0.7em;
    color: limegreen;
    font-weight: bold;
  }
  
  .sci {
    position: relative;
    display: flex;
    margin-top: 5px;
  }
  
  .sci li {
    list-style: none;
    margin: 4px;
  }
  
  .sci li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color: #444;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
  }
  
  .sci li a:hover {
    background: limegreen;
    color: #fff;
  }
  @media screen and (max-width:480px) {
      .card{
        margin: auto;
        margin-top: 20%;
        margin-left: 20%;
        width: 300px;
        backdrop-filter: blur(0px);
      }
  }